PORT=3000

# PostgreSQL connection URL
DATABASE_URL="postgresql://user:password@localhost:5432/rotazap_db?schema=public"

# JWT Secret for authentication
JWT_SECRET="sua_chave_secreta_super_segura_aqui"

# Mercado Pago Credentials
MP_ACCESS_TOKEN="APP_USR-7402987200962724-042610-ff4533b97b16d11325de653c795cdfac-3348585010"

# Opcional se for usar webhook para confirmar pagamento via webhook do MP
# Webhook (A URL que o MP vai notificar, ex: https://seu-site.com/api/payment/webhook)
WEBHOOK_URL="https://72.60.250.170/api/payment/webhook"
